/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media screen and (max-width: 700px) {
  /* img{
    margin: 0 auto;
    height: 100% !important;
    width: auto !important;
    background-position: center;
    background-size: cover !important;
  } */
}
@media screen and (min-width: 1050px) {
  .img1{
    margin: 0 auto !important;
    height: auto !important;
    width: 100% !important;
    background-position: center;
    background-size: cover;
  }
}
/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

.img1{
  margin: 0 auto;
  height: 100%;
  width: auto;
  background-position: center;
  background-size: cover !important;
}
.img2{
  height: 200px !important;
}